*{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
body{
    background-color: #82dee5;
}
#calculator {
    background-color: #82dee5;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 0.5vh;
    display: inline-block;
    border: #045960 1vh solid;
    align-content: center;
    justify-content: center;   
    overflow: hidden;
    border-radius: 15px;
    

}
input {
    
    float: left;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    width: 24%;
    padding: 4%;
    margin: 0.5%;
    background-color: white;
    outline: none;
    font-size: 100%;
}
.numbers{
    background-color: #045960;
}
 input:active{
    box-shadow: 0 0 8px #555;
    
 }
#box{
    width: 99%;
    font-size: 0.6em;
    transition: none;
}

#zero{
    width: 49%;
}
#box:hover{
    cursor: none;
    box-shadow: none;
}
